
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("jquery-2.2.4.min");
<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Hakkımızda
                </h1>

            </div>
        </div>
    </div>
</section>


<section class="info-area p-b-130">
    <div class="container-fluid">
        <div class="row align-items-center" style="margin-top:100px !important;">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 align-items-center">
                <h1>
                    Who we are
                    to Serave the nation
                </h1>
                <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.</p>
                <br>
                <p>
                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.
                </p>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</section>

