*bin/*
*bin/
*/bin/
*publish/
*obj/*
*obj/
*/obj/
*.user
*.suo
*applicationhost.config
packages/
*sqlite3/db.lock
*sqlite3/storage.ide-shm
*.cache
*.config
*sqlite3/storage.ide
*sqlite3/storage.ide-wal
.vs/Bel/v15/Server/sqlite3/db.lock
.vs/Bel/v15/Server/sqlite3/storage.ide-wal
.vs/Bel/v15/Server/sqlite3/storage.ide-shm
.vs/Bel/v15/Server/sqlite3/storage.ide
Bel/bin/Bel.DataLayer.dll
Bel/bin/Bel.pdb
Bel/bin/Bel.dll
Bel/bin/Bel.DataLayer.pdb
Bel/obj/Debug/Bel.dll
Bel/obj/Debug/Bel.pdb
