@model Bel.Models.StudentListsViewModel
@{
    ViewBag.Title = "DetailReservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Öğrenci Listesi
                </h1>
            </div>
        </div>
    </div>
</section>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100" style="width:80%">
            <section class="popular-course-area section-gap no-padding">
                <div class="container">
                    <table class="table table-hover" style="cursor:pointer" id="tbldata">
                        <thead>
                            <tr>
                                <td>Okul Numarası</td>
                                <td>İsim</td>
                                <td>Soyisim</td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.StudentList != null)
                            {
                                foreach (var item in Model.StudentList)
                                {
                                    <tr>
                                        <td>@item.schooluNumber</td>
                                        <td>@item.name</td>
                                        <td>@item.surName</td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                    <br />@ViewBag.StudentsList
                </div>
            </section>
        </div>
    </div>
</div>

<link href="~/Content/paging.css" rel="stylesheet" />
<script src="~/Scripts/paging.js"></script>
<script type="text/javascript">
    $(function () {
        $('#tbldata').paging({ limit: 10 });
    })
</script>

