
@{
    ViewBag.Title = "NewsDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("jquery-2.2.4.min");
<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Haberler
                </h1>

            </div>
        </div>
    </div>
</section>

<section class="event-details-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 event-details-area">
                <div class="main-img" style="text-align:center !important;">
                    <img class="img-fluid" src="~/Content/news/@Model.NewsImage" height="290" />
                </div>
                <div class="details-content">
                    <a href="#">
                        <h4>@Model.NewsHeadline</h4>
                    </a>
                    <div id="myDIV"></div>
                </div>
                <div class="social-nav row no-gutters">
                    <div class="col-lg-12 col-md-12 ">
                        <p> Tarih: @Model.NewsDate.ToString("dd.MM.yyyy")</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        document.getElementById("myDIV").innerHTML = "@Model.NewsContent";
    });
</script>

