
@{
    ViewBag.Title = "NewsCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

<!-- include summernote css/js -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
<!-- include libraries(jQuery, bootstrap) -->
<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Haberler
                </h1>

            </div>
        </div>
    </div>
</section>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100" style="width:950px !important;">


            <form class="login100-form validate-form" action="/News/NewsCreate" method="post" enctype="multipart/form-data">
                <div class="wrap-input100 validate-input m-b-18" data-validate="Haber Başlığı">
                    <span class="label-input100">Başlık</span>
                    <input class="input100" type="text" name="NewsHeadline" placeholder="Haber Başlığı">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                    <span class="label-input100">Resim</span>
                    <input type="file" name="NewsImage" id="NewsImage" class="input100" />
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                    <span class="label-input100">Özet</span>
                    <textarea id="NewsBrief" name="NewsBrief"></textarea>
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                    <span class="label-input100">İçerik</span>
                    <textarea id="NewsContent" name="NewsContent"></textarea>
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-b-30">

                    <div>
                        <div class="txt1" style="color:#ff0000; font-size:15px">
                            @ViewBag.PasswordControl
                        </div>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#NewsContent').summernote({
            toolbar: [
                // [groupName, [list of button]]
                ['fontname', ['fontname']],
                ['style', ['style']],
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['para', ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull']],
                ['color', ['color']],
                ['insert', ['link']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ],
            placeholder: 'Haber İçeriği',
            tabsize: 2,
            height: 300
        });
        $('#NewsBrief').summernote({
            toolbar: [
                // [groupName, [list of button]]
                ['fontname', ['fontname']],
                ['style', ['style']],
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['para', ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull']],
                ['color', ['color']],
                ['insert', ['link']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ],
            placeholder: 'Haber Özeti',
            tabsize: 2,
            height: 300
        });
    });
</script>


